@{
    ViewBag.Title = "Home Page";
}



<div>
    <p>

        <a href="@Url.Action("TodosAlunos", "tbAluno")" class="btn btn-md btn-primary" style="margin-top:20px">
            <span class="glyphicon glyphicon-arrow-right"></span> Alunos
        </a>
        <br />
        <a href="@Url.Action("Index", "tbProfessor")" class="btn btn-md btn-primary" style="margin-top:20px">
            <span class="glyphicon glyphicon-arrow-right"></span> Professores
        </a>
    </p>
</div>